.calLegend_Blue{
    background-color: #0096CF;
}
.calLegend_Green{
    background-color: #27AE60;
}
.calLegend_Grey{
    background-color: #9FA7A7;
}
.calLegend_Mint{
    background-color: #1C9A82;
}
.calLegend_Navy{
    background-color: #4C5F79;
}
.calLegend_Orange{
    background-color: #EA8020;
}
.calLegend_Pink{
    background-color: #F46C9E;
}
.calLegend_Purple{
    background-color: #A061BA;
}
.calLegend_Red{
    background-color: #D7574A;
}
.calLegend_Teal{
    background-color: #38A8AC;
}
.calLegend_Yellow{
    background-color: #DAA62F;
}


.roomEventHidden{
    display: none;
}
// .ms-Dialog-header div[class^="topButton-"]{
//     z-index: 10;
// }
// .ms-Dialog-header{
//     background: #ddd;
// }


// .eventItem{
//     border-color: transparent;
//     background-color: #00008b1c;
//     border-left: 5px solid darkblue;
//     color: #333!important;
//     padding: 5px;
//     border-radius: 3px;
// }


th .fc-scrollgrid-sync-inner{
    padding: 5px 1px;
    font-weight: 600;
    font-size: 15px;
}
.fc .fc-daygrid-day-number{
    font-size: 15px;
    color: #666;
}