.calendarLegend li{
    list-style-type: none;
  }
  .calendarLegend ul{
    padding: 0 5px;
  }
  .legendBullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 2px;
  }
  .legendText{
    margin-left: 2px;
  }
  .bg#0096CF{
    background-color: #0096CF;
  }
  .bg#27AE60{
    background-color: #27AE60;
  }
  .bg#9FA7A7{
    background-color: #9FA7A7;
  }
  .bg#1C9A82{
    background-color: #1C9A82;
  }
  .bg#4C5F79{
    background-color: #4C5F79;
  }
  .bg#EA8020{
    background-color: #EA8020;
  }
  .bg#F46C9E{
    background-color: #F46C9E;
  }
  .bg#A061BA{
    background-color: #A061BA;
  }
  .bg#D7574A{
    background-color: #D7574A;
  }
  .bg#38A8AC{
    background-color: #38A8AC;
  }
  .bg#DAA62F{
    background-color: #DAA62F;
  }