.roomCard{
    margin-bottom: 15px;
    h3{
        margin: 0;
        padding: 5px 10px;
        font-weight: 600;
        border: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 2px #ddd;
    }
    img{
        float: left;
        width: 140px;
        height: 120px;
        border-radius: 0 0 0 3px;
        margin-top: 10px;
    }
    .roomDetails{
        float: left;
        width: 55%;
        .roomActions{
            padding: 0 10px;
            margin-top: 15px;       
            .roomActBtn{
                height: 30px;
            }
        }
    }
    &:after{
        clear: both;
        display: block;
        content: " ";
    }
    .noPicture{
        color: #bbb;
        float: left;
        width: 140px;
        height: 120px;
        margin: 10px 0 0 0;
        font-size: 100px;
        text-align: center;
    }
}


.guidelines{
    display: block;
    h4{
        margin: 0;
    }
    *{
        background: transparent!important;
        font-size: 12px;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    ol, ul{
        padding-left: 15px;
    }
}

.filterWarning{
    // position: absolute;
    width: 100%;
    display: block;
    // top: -60px;
    margin-bottom: 25px;
}

.roomsFilter{
    margin-bottom: 22px;
    margin-top: -26px;
}

.roomBullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 7px;
}

.roomLegendItem{
    a{
        &:hover{
            text-decoration: none!important;
        }
    }
}

.bookingForm, .roomDetailsPanel{
    padding-bottom: 30px;
    ul{
        padding: 0 10px;
        li{
            margin-bottom: 15px;
            list-style-type: none ;
            label{
                font-weight: 600;
            }
        }
    }
    .roomDetailsIcon{
        font-size: 18px;
        margin-right: 13px;
        display: inline-block;
        vertical-align: bottom;
    }
    h3{
        font-weight: 600;
    }
    .roomImageCntnr{
        text-align: center;
    }
    .roomColor{
        display: block;
        position: absolute;
        width: 100%;
        height: 74px;
        top: 0;
        left: 0;
    }
    .disabledCtrl{
        label, input, textarea, div span:first-child{
            color: #666;
        }
        input, textarea{
            background: transparent;
        }
        div span:first-child{
            background: transparent;
            border: 1px solid #eee;
        }
    }
    .noPicture{
        color: #bbb;
        width: 140px;
        height: 120px;
        margin: 10px 0 0 0;
        font-size: 100px;
        text-align: center;
    }
}

.roomBookPanel{
    display: block;
    div[class^=ms-Panel-commands]{
        z-index: 99;
        margin: 0;
        padding: 10px;
        height: 55px;
        div[class^=ms-Panel-header]{
            padding-left: 10px;
            padding-right: 10px;
        }
        div{
            font-size: 18px;
            color: #fff;
        }
        i{
            color: #fff;
        }
        button{
            &:hover{
                background-color: rgba(255,255,255,0.2);
            }
        }
    }
    .panelHdrOptions{
        border-bottom: 2px solid #e1dfdd;
        margin: 10px 0;
        padding: 10px 10px 10px 10px;
        background: #f3f2f1;
        border-radius: 5px;
        &::after{
            content: '';
            clear: both;
            display: block;
        }
        h3{
            margin: 0;
            float: left;
        }
        .editDeleteBtns{
            float: right;
            .editBtn, .deleteBtn{
                display: block;
                border-radius: 4px;
                height: 30px;
                float: left;
                margin-left: 10px;
                width: 30px;
                min-width: 0;
            }
        }
    }
}

.guidelinesMsg{
    background: #fefefe;
    border: 1px solid #eee;
    border-left-style: solid;
    border-left-width: 4px;
    border-radius: 5px;
    border-left-color: #f0ad4e;
    margin-bottom: 10px;
    div[class^=ms-MessageBar-icon] i,
    div[class^=ms-MessageBar-expandSingleLine] i{
        color: #c6862a;
        font-weight: 600;
    }
    .guidelines h4{
        color: #c6862a;
        font-size: 14px;
        font-weight: 600;
    }
}

.popNotif{
    display: block;
}

.eventWarning{
    .eventWarningIcon{
        vertical-align: middle;
        margin-right: 5px;
    }
    span{
        font-size: 12px;
    }
}
// Not used so far
// .dialogHDR{
//     margin: -56px -24px 0 -24px;
//     padding: 8px 20px 10px;
//     font-size: 24px;
//     font-weight: 600;
//     color: #fff;
// }
// .dialogHDRNoColor{
//     margin: -56px -24px 0 -24px;
//     padding: 8px 20px 10px;
//     font-size: 24px;
//     font-weight: 600;
//     color: #333;
// }

.roomsManage{
    i{
        font-size: 10px;
    }
    div{
        margin-bottom: 5px;
    }
    .siteManage{
        padding: 10px 4px 0 4px;
        float: right;
        i{
            font-size: 12px;
            padding-right: 5px;
        }
    }
}