.roomCard{
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    h3{
        margin: 0;
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
        background: #eee;
        font-weight: 600;
    }
    img{
        float: left;
        // width: 40%;
        width: 140px;
        height: 120px;
        border-radius: 0 0 0 3px;
    }
    .roomDetails{
        float: left;
        width: 50%;
        .roomActions{
            padding: 10px;
            a{
                display: block;
                cursor: pointer;
                margin-bottom: 7px;
                i{
                    color: #0078d4;
                    margin-right: 5px;
                }
                span{
                    color: #0078d4;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &:after{
        clear: both;
        display: block;
        content: " ";
    }
}


.guidelines{
    display: block;
    h4{
        margin: 0;
    }
    *{
        background: transparent!important;
        font-size: 12px;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
    ol, ul{
        padding-left: 15px;
    }
}

.filterWarning{
    // position: absolute;
    width: 100%;
    display: block;
    // top: -60px;
    margin-bottom: 25px;
}

.roomsFilter{
    margin-bottom: 22px;
    margin-top: -26px;
}

.roomBullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 3px;
}

.roomLegendItem{
    a{
        &:hover{
            text-decoration: none!important;
        }
    }
}

.bookingForm{
    padding-bottom: 30px;
    .disabledCtrl{
        label, input, textarea, div span:first-child{
            color: #666;
        }
        input, textarea{
            background: transparent;
        }
        div span:first-child{
            background: transparent;
            border: 1px solid #eee;
        }
    }
}


// Not used so far
// .dialogHDR{
//     margin: -56px -24px 0 -24px;
//     padding: 8px 20px 10px;
//     font-size: 24px;
//     font-weight: 600;
//     color: #fff;
// }
// .dialogHDRNoColor{
//     margin: -56px -24px 0 -24px;
//     padding: 8px 20px 10px;
//     font-size: 24px;
//     font-weight: 600;
//     color: #333;
// }
