.calLegend_Blue{
    background-color: #0096CF;
}
.calLegend_Green{
    background-color: #27AE60;
}
.calLegend_Grey{
    background-color: #9FA7A7;
}
.calLegend_Mint{
    background-color: #1C9A82;
}
.calLegend_Navy{
    background-color: #4C5F79;
}
.calLegend_Orange{
    background-color: #EA8020;
}
.calLegend_Pink{
    background-color: #F46C9E;
}
.calLegend_Purple{
    background-color: #A061BA;
}
.calLegend_Red{
    background-color: #D7574A;
}
.calLegend_Teal{
    background-color: #38A8AC;
}
.calLegend_Yellow{
    background-color: #DAA62F;
}
